extends layout

block content
  h1 Twitch Chat Experience
  i Displaying Kappas from the top 50 channels on twitch.tv
  div.kappa-counter
    | Kappa counter: 
    b
  canvas(id="speedometer" width="400" height="400")
  ul#kappa-list
  script.
    var socket = io();
    var speedometer = new Speedometer();
    var list = document.getElementById('kappa-list');
    var counter = document.querySelector('.kappa-counter b');
    var kappas = 0;
    var start = new Date();
    socket.on('kappa', function (data) {
        kappas++;
        var delta = new Date() - start;
        var kpm = Math.round(kappas / ((new Date() - start) / (1000 * 60)));
        speedometer.score = kpm;
        counter.textContent = kappas;
        nick = data.nick;
        message = data.message;
        var li = document.createElement('li');
        li.innerHTML = nick + ': ' + message;
        list.appendChild(li);
        list.scrollTop = list.scrollHeight;

    });
