extends layout

block content
  h1 Twitch Chat Experience
  ul#kappa-list
  script.
    var socket = io();
    var list = document.getElementById('kappa-list');
    socket.on('kappa', function (data) {
        nick = data.nick;
        message = data.message;
        var message = message.replace(/Kappa/g, '<img src="https://static-cdn.jtvnw.net/emoticons/v1/25/1.0" alt="Kappa">');
        var message = message.replace(/Keepo/g, '<img src="https://static-cdn.jtvnw.net/emoticons/v1/1902/1.0" alt="Kappa">');
        var li = document.createElement('li');
        li.innerHTML = nick + ': ' + message;
        list.appendChild(li);
        list.scrollTop = list.scrollHeight;
    });
