extends layout

block content
  h1 Twitch Chat Experience
  i Displaying Kappas from the top 50 channels on twitch.tv
  div.kappa-counter
    | Kappa counter: 
    b
  ul#kappa-list
  script.
    var socket = io();
    var list = document.getElementById('kappa-list');
    var counter = document.querySelector('.kappa-counter b');
    var kappas = 0;
    socket.on('kappa', function (data) {
        kappas++;
        counter.textContent = kappas;
        nick = data.nick;
        message = data.message;
        var li = document.createElement('li');
        li.innerHTML = nick + ': ' + message;
        list.appendChild(li);
        list.scrollTop = list.scrollHeight;

    });
