body {
    padding: 0;
    margin: 0;
}

a {
  color: #00B7FF;
}

.right {
    float: left;
}

.left {
    height: 100vh;
    float: left;
    width: 340px;
}

#kappa-list {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    width: 340px;
    overflow: hidden;
    overflow-y: scroll;

    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
